/********** WrapTuits **********/
.card-header{
    display: flex;
    justify-content: space-between;
}


.card-header img {
    width: 20px;
    height: 20px;
}

.card-body {
    background-color: white;
    color: black;
}


/********** Profile **********/

/* .container-fluid {
    background-color: yellow;
} */

/********** Navbar **********/

.navbar {
   position: fixed;
   height: 10vh;
   top: 90vh;
    
} 

.create-tuit {
    position: fixed;
    height: 5vh;
    top: 85vh;
    width: 100%;
    background-color: white;
     
 } 